/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face
{
	font-family: Lovelo_Black;
	src: url('Lovelo_Black.otf')
}

@font-face
{
	font-family: Lovelo_Line_Light;
	src: url('Lovelo_Line_Light.otf');
	font-weight: bold;
}

@font-face
{
	font-family: Lovelo_Line_Bold;
	src: url('Lovelo_Line_Bold.otf');
}

@font-face
{
	font-family: Cylburn;
	src: url('Cylburn.ttf');

}

body {
 	text-align: center;
 	width: 900px;
 	margin: 0 auto;
 	background-color: #000000;

}

.container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	background-color: #F2F2F2;
	z-index: 0;

/*	border-left: 3px solid #A0A2A3;
 	border-right: 3px solid #A0A2A3;*/
}

.logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 150px;
	z-index: 500;
	border: 0px;
}

#logobackground {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 500;
	background-color: #1C94FC;
	width:  150px;
	height: 150px;
}

.livingwaterlogo {
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 600;
	width: 150px;
	height: 150px;
	border: 0px;
}

.mainnav {
	position: fixed;
	top: 0px;
	height: 50px;
/*	left: auto;
	right: auto;*/
	width: 900px;
	background-color: #fff;
	z-index: 200;
	text-transform: uppercase;
}

.mainnav ul {
	padding-left: 0;
	list-style-type: none;
	margin: 13px 0px 13px;
	background-color: transparent;
	text-align: center;
	max-height: 50px;
	max-width: 900px;
	font-family: 'Lovelo_Black', 'Sintony';
	font-weight: normal;
	font-size: 30px;
}

.mainnav ul li.first {
 	margin-left: 0;
	list-style: none;
 	display: inline;
 	padding-left: 0px;
 }

.mainnav li.otherlinks {
	display: inline;
	padding-left: 25px;
	margin: 0;
}
.mainnav a {
	text-decoration: none;
	color: #000000;
}

.mainnav ul a:hover {
	color: #1C94FC;
}



img.livingwaterlogo a:hover {
	border-bottom: none;
}

footer {
	display: block;
	width: 900px;
	background-color: #000000;
	height: 30px;
	position: absolute;
	bottom: 0px;
}

#footer-text {
	margin-top: 8px;
	font-family: 'Raleway';
	color: white;
	font-size: 12px;
}

#footer-text a {
	text-decoration: none;
	color: white;
}

.history-title {
	text-align: center;
	margin-top: 90px;
	margin-bottom: 0px;
	font-family: 'Lovelo_Line_Bold', 'Sintony';
	font-size: 70px;
	font-color: #000000;
	line-height: 50px;
}

.history {
	font-family: Raleway;
	font-size: 30px;
	margin: 20px auto;
	width: 700px;
}

#blue-title {
	color: #1C94FC;
}


#footnote {
	font-size: 13px;
}


.contact-inquiries {
	font-size: 40px;
	font-family: Cylburn, 'Pinyon Script';
	width: 400px;
	line-height: 30px;
	margin: 40px auto 10px;
	text-align: center;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
}

.outreach {
	font-size: 40px;
	font-family: Cylburn, 'Pinyon Script';
	width: 450px;
	line-height: 30px;
	margin: 20px auto 0px;
	text-align: center;
	color: #000;
}

#would-you-like {
	font-size: 25px;
	font-family: 'Raleway';
	color: #000;
}

#lw {
	font-family: Lovelo_Black, 'Sintony';
	color: #1C94FC;
}

#andres {
	color: #000;
	font-weight: bold;

}

#email {
	font-size: 20px;
	line-height: 20px;
}

.figure {
	z-index: 4;
	border: 0px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 1px 50px #000;
	-moz-box-shadow: inset 0 1px 50px #000;
	box-shadow: inset 0 1px 50px #000;
	display: inline;
	height: 150px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: grayscale(100%);
	margin: 30px auto 10px;
	-webkit-transition: -webkit-filter 0.2s ease-in-out;
	-moz-transition: -moz-filter 0.2s ease-in-out;
	transition: filter 0.2s ease-in-out;
	width: 150px;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
}

.figure2 {
	z-index: 4;
	border: 0px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 1px 50px #000;
	-moz-box-shadow: inset 0 1px 50px #000;
	box-shadow: inset 0 1px 50px #000;
	display: inline;
	height: 150px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: grayscale(100%);
	margin: 30px auto 10px;
	-webkit-transition: -webkit-filter 0.2s ease-in-out;
	-moz-transition: -moz-filter 0.2s ease-in-out;
	transition: filter 0.2s ease-in-out;
	width: 150px;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
}

.line {
	margin: 30px;
}


.subtitle {
	margin-top: 20px;
	font-family: 'Raleway';
	font-size: 30px;
	font-color: #F2F2F2;
}

.why-rush {
	height: 350px;
	margin: 30px;
}

.blue {
	width: 100%;
	height: 400px;
	background-color: #1C94FC;
	margin-top: 25px;
	padding-top: 20px;
	color: #F2F2F2;
}

.what-is-rush {
	text-align: left;
	line-height: 28px;
	height: 400px;
	width: 100%;
	display: block;
	background-color: #F2F2F2;
	background-image: url(what-is-rush.png);
	background-size: 55%;
	background-position: 100% 100%;
	background-repeat: no-repeat;
}

.what-is-rush a {
	text-decoration: underline;
}

.what-is-rush a:hover {
	color: #1C94FC;
}

.rush-definition {
	font-family: Raleway;
	font-size: 20px;
	float: left;
	width: 350px;
	font-style: italic;
	margin: 30px;
}


#rush {
	font-weight: bold;
	font-style: normal;
	font-size: 30px;
	color: #1C94FC;
}

#rush-def {
	text-align: left;
	font-style: normal;
}

.why-living-water {
	background-color: #1C94FC;
	height: 400px;
	width: 100%;
	display: block;
	background-image: url(why-droplets.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.whats-so-special {
	padding: 70px;
	color: #F2F2F2;
	font-size: 50px;
	font-family: Raleway;
}

.droplets-say {
	width: 100%;
	height: 400px;
	background-color: #F2F2F2;
	display: block;
	font-size: 50px;
	font-family: Raleway;
}

.testimony {
	padding-top: 30px;
}

.join-us {
	width: 100%;
	height: 400px;
	background-color: #1C94FC;
	display: block;
	font-size: 50px;
	font-family: Raleway;
	background-image: url(tap-night.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 60%;
}

.open-arms {
	font-weight: bold;
	padding-top: 30px;
	padding-right: 30px;
	display: block;
	height: 50px;
	color: #F2F2F2;
	text-align: right;
}

.we-will {
	width: 350px;
	padding-top: 10px;
	font-size: 25px;
	color: #000;
	display: block;
	margin-left: 510px;
	margin-top: 30px;
	text-align: right;
}

img.q-mark {
	float: left;
	margin-right:5px;
	margin-bottom: -4px;
}

.blurb {
	font-size: 15px;

	text-align: justify;
	float: left;
	line-height: 18px;
}

#zach {
	margin-left: 50px;
	margin-top: 20px;
	float: left;
	width: 700px;
}

#blurb-author {
	font-style: italic;
}

img.back-quotation-mark {
	float:right;
	margin-top: -5px;
}

#andres-blurb {
	float:right;
	margin-right: 50px;
	margin-top: 30px;
	width: 650px;
}