@font-face
{
	font-family: Lovelo_Black;
	src: url('Lovelo_Black.otf')
}

@font-face
{
	font-family: Lovelo_Line_Light;
	src: url('Lovelo_Line_Light.otf');
	font-weight: bold;
}

@font-face
{
	font-family: Lovelo_Line_Bold;
	src: url('Lovelo_Line_Bold.otf');
}

@font-face
{
	font-family: Cylburn;
	src: url('Cylburn.ttf');

}

body {
 	text-align: center;
 	width: 900px;
 	margin: 0 auto;
 	background-color: #000000;
}

.container {
	width: 900px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;

/*	border-left: 3px solid #A0A2A3;
 	border-right: 3px solid #A0A2A3;*/
}

.logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
}

#logobackground {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background-color: #1C94FC;
	width: 300px;
	height: 300px;
}

.livingwaterlogo {
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 4;
	width: 300px;
	height: 300px;
}

.mainphoto {
	position: absolute;
	left: 300px;
	top: 0px;
	width: 600px;
	height: 300px;
}

.social-links {
	position: absolute;
	top: 245px;
	left: 660px;
	z-index: 300;
}

.social-links .icons {
	margin-left: 5px;
	width: 50px;
	opacity: 0.6;
	border: 0px;
}

img.icons:hover {
	opacity:1.0;
}



.mainnav ul {
	position: absolute;
	top: 300px;
	left: 0px;
	display: inline;
	width: 900px;
	border: 0px;
	background-color: #FFFFFF;
	font-family: Lovelo_Black, Sintony;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	height: 30px;
	list-style-type: none;
	margin: 0 auto 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0px;
}

.mainnav li {
	display: inline;
	padding-left: 25px;
	margin: 0;
	height: 30px;
	line-height:30px;
	border: 0px;
}

.mainnav ul li.first {
 	margin-left: 0;
	list-style: none;
 	display: inline;
 	padding-left: 0px;
 	line-height: 30px;
 	height: 30px;
 	border: 0px;
 }

.mainnav a {
	text-decoration: none;
	color: #000000;
	z-index: 500;
	height: 30px;
	line-height: 30px;
}

.mainnav a:hover {
	color: #1C94FC;
	z-index: 500;
	height: 30px;
	border: 0px;
}



.main-content {
	position: absolute;
	top: 350px;
	bottom: 0px;
	display: block;
	background-color: #F2F2F2;
	width: 900px;
	z-index: 120;
}

.about-us {
	width: 400px;
	height: 250px;
	float: left;
	margin: 40px;
	display: block;
	font-size: 14px;
	border: 0px;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	z-index: 30;
}

.about-us-content {
	margin: 10px 20px 0px;
	overflow: auto;
	height: 200px;
	z-index: 100;
	color: #000000;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 15px;
}

.title { 
	font-family: Lovelo_Line_Light, Sintony;
	font-size: 35px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

footer {
	display: block;
	width: 900px;
	background-color: #000000;
	height: 30px;
	position: absolute;
	bottom: 0px;
}

#footer-text {
	margin-top: 8px;
	font-family: 'Raleway';
	color: white;
	font-size: 12px;
}

#footer-text a {
	text-decoration: none;
	color: white;
}

.twitterfeed {
	display: inline-block;
	width: 350px;
	height: 300px;
	margin: 40px 40px 0px 0px;
}

#ourtweets {
	font-family: Lovelo_Line_Light, Sintony;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 35px;
    text-align: center;
}

.bible-verse {
	display: block;
	float: left;
	margin-top: 20px;
	width: 275px;
	position: absolute;
	top: 330px;
	left: 330px;

}

#water {
	font-family: Lovelo_Black, Sintony;
	text-transform: uppercase;
	font-weight: bold;
}

#john {
	font-family: Lovelo_Black, Sintony;
	font-size: 12px;
}
.bible-verse-text {
	width: 250px;
	float: left;
	font-family: Cylburn, 'Dancing Script';
	font-size: 32px;
	text-align: center;
	line-height: 25px;
	display: block;
}

.divide {
	display: inline-block;
}

